.post-header {
  text-align: center;
  min-height: 60px;
  background: #ff4f3f;
  width: 100%;
}

.post-header h1 {
  color: #fff;
  text-shadow: 2px 3px 4px rgba(0, 0, 0, 0.4);
}

.post-meta p {
  font-family: 'PT Mono', monospace;
  color: #4c4c4c;
}

.post {
  font-family: 'Expletus Sans', cursive;
}

.post p {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  font-weight: 400;
  color: #6d6c6c;
}

.post h1,
.post h2,
.post h3,
.post h4,
.post h5,
.post h6 {
  color: #5a5959;
}
